<html>
<head>
<title>activity_add__nokat.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_add__nokat.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;LinearLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
    <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
    <span class="s1">tools:context</span><span class="s2">=&quot;.Add_Resminama&quot;</span><span class="s0">&gt;</span>


    <span class="s0">&lt;com.google.android.material.textfield.TextInputLayout</span>
        <span class="s1">style</span><span class="s2">=&quot;@style/Widget.MaterialComponents.TextInputLayout.OutlinedBox&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:textColorHint</span><span class="s2">=&quot;#4E4C4C&quot;</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/resminaam&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:hint</span><span class="s2">=&quot;Nokat ady&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;com.google.android.material.textfield.TextInputEditText</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/resminama_ady&quot;</span>
            <span class="s1">android:inputType</span><span class="s2">=&quot;text&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#4E4C4C&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/com.google.android.material.textfield.TextInputLayout&gt;</span>

    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:gravity</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:paddingTop</span><span class="s2">=&quot;20dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span><span class="s0">&gt;</span>
        <span class="s0">&lt;ImageButton</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/clear1&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:fontFamily</span><span class="s2">=&quot;casual&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/colorAccent&quot;</span>
            <span class="s1">android:background</span><span class="s2">=&quot;#00FFFFFF&quot;</span>
            <span class="s1">android:paddingBottom</span><span class="s2">=&quot;1dp&quot;</span>
            <span class="s1">android:paddingTop</span><span class="s2">=&quot;1dp&quot;</span>
            <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center_horizontal&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;15dp&quot;</span>
            <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:paddingRight</span><span class="s2">=&quot;15dp&quot;</span>
            <span class="s1">android:paddingLeft</span><span class="s2">=&quot;15dp&quot;</span>
            <span class="s1">android:includeFontPadding</span><span class="s2">=&quot;true&quot;</span>
            <span class="s1">android:src</span><span class="s2">=&quot;@drawable/image01&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;25dp&quot;</span>

            <span class="s0">/&gt;</span>
        <span class="s0">&lt;ImageButton</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/add_resminama&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:fontFamily</span><span class="s2">=&quot;casual&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/colorAccent&quot;</span>
            <span class="s1">android:background</span><span class="s2">=&quot;#00FFFFFF&quot;</span>
            <span class="s1">android:paddingBottom</span><span class="s2">=&quot;1dp&quot;</span>
            <span class="s1">android:paddingTop</span><span class="s2">=&quot;1dp&quot;</span>
            <span class="s1">android:layout_gravity</span><span class="s2">=&quot;center_horizontal&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;15dp&quot;</span>
            <span class="s1">android:paddingRight</span><span class="s2">=&quot;15dp&quot;</span>
            <span class="s1">android:paddingLeft</span><span class="s2">=&quot;15dp&quot;</span>
            <span class="s1">android:includeFontPadding</span><span class="s2">=&quot;true&quot;</span>
            <span class="s1">android:src</span><span class="s2">=&quot;@drawable/image02&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;25dp&quot;</span>

            <span class="s0">/&gt;</span>
    <span class="s0">&lt;/LinearLayout&gt;</span>



<span class="s0">&lt;/LinearLayout&gt;</span></pre>
</body>
</html>